body {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    width: 100%; ;
}
form {
    background-color: whitesmoke;
}
input {
    background-color: white;
    border-color: black;
    border-radius: 3px;
    margin-bottom: 25px;
}
.BMI {
    background-color: skyblue;
    color: black;
}
button {
    padding: 5px;
    border-radius: 3px;
    margin-top: 25px;
}
.container p{
    margin: 1px;
}